<div class="text-center">
  <h3>Play a new game!</h3>
  <form role = "form">
    <label for = "name">Name</label>
    <input type = "text" class = "form-control" id = "name" placeholder = "Enter Name">
    <button type = "submit" class = "btn btn-default">Submit</button>
  </form>
</div>
