<div class="text-center">
  <h3>Play a new game!</h3>
  <form role = "form" method="post" action="/games">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
    <input type="submit" value="Submit" class="btn btn-default">
  </form>
</div>
