<h1>Howdy</h1>
<canvas id="canvas" width="500" height="500"></canvas>

<script>

// params {velocity, radius = 0, orbitRadius = 1, theta = 0, centerX = 0, centerY = 0}
function GameObject(params){
  this.velocity = params.velocity || 1;
  this.theta = params.theta || 0;
  this.orbitRadius = params.orbitRadius || 100;
  this.radius = params.radius || 20;
  this.centerX = params.centerX || 0;
  this.centerY = params.centerY || 0;
}

GameObject.prototype.getCurrentPosition = function(){
  return {
    x: this.orbitRadius * Math.cos(this.theta) + this.centerX,
    y: this.orbitRadius * Math.sin(this.theta) + this.centerY,
    radius: this.radius
  };
}

GameObject.prototype.isTouching = function(pos){
  var currentPos = this.getCurrentPosition();
  var dist = [pos.y - currentPos.y, pos.x - currentPos.x];
  for(var i = 0; i < dist.length; i++){ dist[i] = dist[i] * dist[i]; }
  dist[0] = dist[0] + dist[1];
  var r = Math.sqrt(dist[0]);
  return (r <= pos.radius + currentPos.radius);
}

GameObject.prototype.tick = function(obj){
  this.theta += this.velocity;
  if(!obj || obj == this){return;}
  return this.isTouching(obj.getCurrentPosition());
}

function clearCanvas(){
  var canvas = document.getElementById('canvas');
  if (canvas.getContext){
    var ctx = canvas.getContext('2d');
    ctx.clearRect(0,0,500,500); // clear canvas
  }
}

function drawObject(object){
  var canvas = document.getElementById('canvas');
  if (canvas.getContext){
    var ctx = canvas.getContext('2d');
    var pos = object.getCurrentPosition();

    console.log(pos);

    ctx.beginPath();
    ctx.arc(pos.x,pos.y,pos.radius,0,Math.PI*2,true); // Outer circle
    ctx.fill();
  }
}

function generateRandomObject(centerX, centerY){
  var velocity = Math.random() * 0.1;
  var radius = 10 + Math.random() * 20;
  var orbitRadius = Math.random() * 200;

  return new GameObject({
    velocity,
    radius,
    orbitRadius,
    centerX,
    centerY
  });
}

function gameOver(){
  debugger;
}



var centerX = 250, centerY = 250;
var gameObjects = [];
var numObjects = Math.ceil(Math.random() * 5);
for(var i = 0; i < numObjects; i++){
  gameObjects.push(generateRandomObject(centerX, centerY));
}

var player = generateRandomObject(centerX, centerY);
gameObjects.push(player);

function updateGame(obj){
  drawObject(obj);
  if(obj.tick(player)){ gameOver(); }
}

setInterval(function(){
  clearCanvas();
  gameObjects.forEach(updateGame);
}, 25);

</script>
